@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
  color: white;
}

body {
  color: white;
  height: 100%;
  font-family: Montserrat, sans-serif;
  background: #272935;
}

.btn {
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 6px 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: inherit;
}

.btn:hover {
  background: #ff7ac6;
  border-color: #ff7ac6;
}
.row {
  display: flex;
  flex-direction: column;
}
.row2 {
  display: flex;
  max-width: 1200px;
  gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.row1 {
  background-color: #13141a;
  padding-bottom: 30px;
  padding-top: 30px;
  display: flex;
  max-width: 1200px;
  gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.wrapper .card {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  width: 285px;
  height: 360px;
  overflow: hidden;
  transition: 0.5s ease all;
}

.wrapper .card .card-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 50px 10px 7px;
  background-image: linear-gradient(
    180deg,
    rgba(51, 55, 69, 0),
    rgba(16, 21, 40, 0.95)
  );
  transition: inherit;
}

.wrapper .card .card-content .card-cont-header {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .card .card-content .describe {
  max-height: 0;
  opacity: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  transition: inherit;
}

.wrapper .card:hover {
  cursor: pointer;
}

.wrapper .card:hover .card-content {
  background-image: linear-gradient(180deg, rgba(51, 55, 69, 0) 0, #101528 48%);
}

.wrapper .card:hover .btn {
  background: #ff7ac6;
  border-color: #ff7ac6;
}

.search-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 40px;
  background-color: #13141a;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 165px;
  padding-right: 165px;
}

.search-block #search-form {
  display: flex;
  max-width: 400px;
}

.search-block input {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  border-radius: 0;
  border: none;
  background: #414558;
}

.search-block .btn {
  width: 120px;
  background: #ff7ac6;
}

.next {
  width: 120px;
  background: #ff7ac6;
  border-radius: 10px;
  color: black;
  padding-top: 12px;
  text-align: center;
  font-size: 15px;
  padding-right: 10px;
}


.btn-load {
  background-color: #ff7ac6;
  padding: 10px 25px;
  border: none;
  margin-top: 15px;
}

#heading {
  color: #ff7ac6;
  text-align: center;
  padding: 15px;
  margin: 10px;
  display: block;
}

.row3 {
  background-color: #13141a;
}

.invisible-div-3 {
  display: none;
}

.search-block #search-form input,
button {
  border-radius: 10px;
  margin-right: 5px;
}

h1 {
  margin-bottom: 10px;
  color: #ff7ac6;
}

h2 {
  font-weight: 300;
}

@media (max-width: 1000px) {
  h2 {
    font-size: 20px;
  }
  h1 {
    font-size: 25px;
  }
}
.black-button {
  color: black;
}
