@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  box-sizing: border-box;
  color:white;
}


.profile-icon {
  position: absolute;
  background-color:#ff7ac6;
  right: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

h1{
  color: #ff7ac6;
}


body {
  background-color: #272935;
  font-family: Montserrat, sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


h3 {
  margin: 10px 0;
}

h6 {
  margin: 5px 0;
  text-transform: uppercase;
}
  

p {
  font-size: 14px;
  line-height: 21px;
}

.header {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 165px;
  padding-right: 165px;
  background-color: #181920;
  align-items: center;
}

.logo {
  color: #ff7ac6;
}

.sideIcons {
  font-size: 22px;
}

.card-container {
  display: flex;
  flex-direction: row;
  background-color: #181920;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #181920;
  position: relative;
  text-align: center;
  height: 400px;
  margin-top: 7.2%;
  width: 44%;
  margin-left: 25%;
}

.left {
  width: 240px;
  background-color: #ff7ac6;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.right {
  width: 400px;
  background-color: #181920;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
}

.informationHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
}

.emailAndPhone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.information {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px;
}

.moviesWatched {
  padding-top: 25px;
  font-size: 25px;
}

.card-container .pro {
  color: #231e39;
  background-color: #febb0b;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}


.card-container .round {
  border: 1px solid #231e39;
  border-radius: 50%;
  padding: 7px;
}

.footer {
  color: white;
  display: flex;
  flex-direction: row;
  padding-left: 165px;
  margin-top: 3.9%;
  padding-bottom: 19px;
  padding-top: 19px;
  background-color: #181920;
}

a{
  text-decoration: none;
}

.grid-container{
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100vh;
  margin-top: 40px;
  padding-left: 165px;
  padding-right: 165px;
}

.item{
  background-color: white;

}
.scrollbar{
  overflow-y: auto;
  background-color: grey;
  display: block;
  height: 20%;
  overflow-y: auto;
}

.movie{
  background-color: white;
  display: block;
  height: 80%;
}

.footer {
  color: white;
  display: flex;
  flex-direction: row;
  padding-left: 165px;
  margin-top: 20px;
  padding-bottom: 19px;
  padding-top: 19px;
  background-color: #181920;
}