
.grid-box{
    display: grid;
    width:50%;
}

.grid-elements{
    margin: 10px;
    border: 1px solid lightgreen;
    background-color: white;
    text-align: left;
    padding: 12px 24px 12px 16px;
    font-size: 15px;
    border-radius: 4px;
}

.question{
    margin-left: 18%;
}

#next-button{
    background-color: #1f8197;
    color: white;
}

h2{
    color: brown;
}

